[submodule "dotgen"]
	path = dotgen
	url = git@github.com:cedrichaase/dotgen.git
[submodule "plugin/vim/rust.vim"]
	path = plugin/vim/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "plugin/vim/sourcerer.vim"]
	path = plugin/vim/sourcerer.vim
	url = https://github.com/xero/sourcerer.vim
[submodule "plugin/zsh/oh-my-zsh"]
	path = plugin/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "plugin/vim/vim-pathogen"]
	path = plugin/vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugin/bash/z"]
	path = plugin/bash/z
	url = https://github.com/rupa/z.git
[submodule "plugin/vim/vim-twig"]
	path = plugin/vim/vim-twig
	url = https://github.com/lumiliet/vim-twig.git
